#ymaps {
  width: 80%;
  height: 300px;
}

.ymaps {

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px;
  }

  &-2-1-79-search__suggest {
    background-color: var( --field_background,var(--vkui--color_field_background) ) !important;
    color: #818c99;
  }

  &__input {
    width: 80%;
  }
}
