.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  &:last-of-type {
    margin-bottom: 52px;
  }

  &__separator {
    text-align: center;
    color: var(--vkui--color_text_primary);
    font-weight: var(--vkui--font_weight_accent2);
    font-size: var(--vkui--font_text--font_size--compact);
  }

  &-wrapper {
    padding: 8px 12px;
    border-radius: 10px;
    background-color: var(--vkui--color_background_content);
    width: fit-content;
    max-width: 40%;

    &-user {
      margin-right: auto;
      background-color: var(--vkui--color_background);
    }

    &-author {
      margin-left: auto;
      background-color: var(--accent);
    }
  }

  &-user {
    color: var(--vkui--color_text_primary);
    & .vkuiSimpleCell {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  &-author {
    color: var(--vkui--color_text_primary);
    & .vkuiSimpleCell {
      padding-right: 0px;
    }
    & .message__user {
      color: var(--vkui--color_text_primary);
    }
  }

  &__user {
    cursor: pointer;
    color: var(--vkui--color_text_accent);
    font-weight: var(--vkui--font_weight_accent2);
    font-size: var(--vkui--font_text--font_size--compact);
  }

  &__text {
    color: var(--vkui--color_text_primary);
    font-weight: var(--vkui--font_weight_base3);
    font-size: var(--vkui--font_text--font_size--compact);
    padding-top: 3px;
  }

  &__time {
    text-align: right;
    color: var(--text_muted);
    font-size: var(--vkui--font_caption1--font_size--regular);
    line-height: var(--vkui--font_caption1--line_height--regular);
    letter-spacing: var(--vkui--font_caption1--letter_spacing--regular);
    font-family: var(--vkui--font_caption1--font_family--regular);
    font-weight: var(--vkui--font_caption1--font_weight--regular);
    padding-top: 3px;
  }
}

.chat {
  &__info {
    z-index: 2;
    border-bottom: solid 1px var(--separator_common);
    background-color: var(--background_content);

    &-cell .vkuiSimpleCell__children {
      font-weight: 600;
      padding-left: 0.25rem;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.06px;
    }
  }
  &__input {
    border-top: solid 1px var(--separator_common);
  }
}
