.vk-event .vkuiContentCard__img {
  padding: 0px 24%;
  max-width: 52%;
  height: 200px;
  object-fit: fill;
}

.event {
  &-subtitle-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__name {
      font-style: normal;
      font-size: 11px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0.06px;
      text-align: left;
    }

    &__created {
      font-style: normal;
      font-weight: 400;
      font-size: 9px;
      line-height: 12px;
      letter-spacing: 0.17px;
    }

    & .vkuiSimpleCell {
      padding-left: 0px;
    }
  }
  
  &-caption {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  
    &__info {
      &-date {
        margin-right: 1rem;
      }
      &-address {
        margin-right: 1rem;
      }
      &-wrapper {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

.vkuiSearch__width {
  width: 100%;
}
